logs/
target/
RUNNING_PID
*.checked
SOEN-6441-Project/null/Coursier/cache/v1/
JavaDoc/
SOEN-6441-Project/TestCoverage/
SOEN-6441-Project/.idea
play-samples-play-java-hello-world-tutorial
*.xml
*.xml

SOEN-6441-Project/.idea/misc.xml
SOEN-6441-Project/.idea/workspace.xml
