
@import play.mvc.Http.Request

@import twitter4j.Status


@(tweets: List[String], cache: LinkedHashMap[String,String], form: Form[Search])(implicit request: Request, messages: play.i18n.Messages)

<!DOCTYPE html>
<html>
<head>
<div id="header">
	<h1 align=center>Welcome to TweeterLytics</h1>
</div>
</head>

@helper.form(routes.HomeController.gettweet()) { 
	@helper.CSRF.formField
	
	<p align="center">
		<input type="text" name="searchString" placeholder="Enter search term"
			value="@form("searchString").value">
	</p>
	<p align="center">
		<button type="submit">Search Tweet</button>
	</p>

}

<body>

	<table>
		@for(key <- tweets){
		@Html(cache.get(key))
		}
		<tr class="blank_row">
			<td bgcolor="#FFFFFF" colspan="3">&nbsp;</td>
		</tr>
	</table>
</body>

</html>
