@(request: play.mvc.Http.Request)
<!DOCTYPE html>

<html>
    <head>
        <title>WebSocket Test</title>
        <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/HashtagDisplay.js")'></script>
    </head>
@*    <body data-ws-url="@routes.HomeController.HashTagWs().webSocketURL(request)">*@
@*        <h1>Hello, WebSocket!</h1>*@
@*        <div id="time"> </div>*@
@*    </body>*@
</html>