@(request: play.mvc.Http.Request, key: String, sortedwc: String)
<!DOCTYPE html>
<html>
<head>
 <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/KeywordDisplay.js")'></script>

<div id="header">
	<h1 align=center>Tweet words statistics</h1>
	<h3 align=center>Keyword :  @key</h3>
</div>

</head>

    <body data-ws-url="@routes.HomeController.keywordWs().webSocketURL(request)">

         <div id="keywordstats">
        @sortedwc
        </div>
    </body>

</html>

